@model IEnumerable<ControloDespesas.Models.Salarios>

@{
    ViewData["Title"] = "Salarios Cadastrados";
}

<div class="tabela">
    <div class="container">
        <h6>Salários Cadastrados</h6>
        <p>
            <a asp-action="Create" class="btn btn-primary">Novo Salário</a>
        </p>
        @if (TempData["Confirmacao"] != null)
        {
            <div class="alert alert-success">
                @TempData["Confimacao"]
            </div>
        }

        <form asp-action="Index" asp-controller="Salarios" metoh="Post">
            <div class="form-group">
                <div class="input-group col-md-6">
                    <input class="form-control" name="txtProcurar" />
                    <div class="input-group">
                        <button type="submit" class="btn btn-default">Procurar</button>
                    </div>
                </div>

            </div>
        </form>


        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Meses)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.valor)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Meses.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.valor)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.SalarioId">Actualizar</a> |
                            <a onclick="ExibirModal(@item.SalarioId)" class="btn btn-danger">Excluir</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!----MODAL APAGA-->
<div class="modal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja Prosseguir com a exlusão do Salário.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btnExcluir">Sim</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function ExibirModal(id) {
            $(".modal").modal();
            $(".btnExcluir").on('click', function () {
                $.ajax({
                    url: "Salarios/Delete",
                    method: "Post",
                    data: { id: id },
                    success: function (data) {
                        $(".modal").modal('hide');
                        location.reload(true);
                    }
                });
            });

        }


    </script>


}

